<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="2.1.6" targetFramework="net452" />
  <package id="CircularProgressBar" version="2.3.0" targetFramework="net452" />
  <package id="Textbox_Controls" version="1.0" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net452" />
</packages>